html {
  background-color: #0A0A0A;
  /* background-image: url(assets/goldmedal.jpg); */
  /* background-size: cover; */
  /* filter: blur(8px) */
}
body {
  font-family: times;
  font-size: 3em;
  background: transparent;
  padding: 0px 30px;
  /* background-image: url('assets/goldmedal.jpg'); */
  /* background-size: cover; */
  /* backdrop-filter: blur(8px); */
  /* filter: grayscale(100%); */
}
h1 {
  color: #DFE0E2;
  background: transparent;
  margin: auto;
  width: 50%;
  margin-top: 10%;
}
#linkContainer {
  margin: auto;
  width: 50%;
}
a {
  text-decoration: none;
  transition: all 0.2s ease;
  /* border-radius: 20px; */
  padding: 5px 5px;
  margin: 100px 0px;
  color: #DFE0E2;
}
a:hover {
  background-color: #DFE0E23F;
}
/*
#0A0A0A
#DFE0E2
#0077B6
#558564
#EC0B43
*/
